{% extends 'base.html' %}
{% block content %}
<div id="wrapper"> <!--Оболочка страницы-->
    <!--Шапка сайта-->
       
    
        <div id="sidebar">
    
      </div>
   
        <div id="content">

    <!--Картинка слева-->
          <img class="left" width="200" src="https://i.ibb.co/Y7FYV4P/f319b207a13fcff3cb78c719f836178c.jpg">
    <!--Заголовок статьи-->
            <h3>Об университете</h3>
    <!--Текст статьи-->
    <p>Здравствуйте дорогие читатели !</p>
    <p>Вуз обучает специалистов по всем актуальным направлениям. Сейчас в Астраханском госуниверситете существует свыше 70 вариантов подготовки, и постоянно создаются новые с учётом требований кадрового рынка. Благодаря гибкой программе и нацеленности на обучение востребованных профессионалов АГУ предоставляет всем студентам возможность получить дополнительное образование. Особенное внимание уделяется лингвистической подготовке, благодаря чему представители любых специальностей, от физико-технических до творческих, во время учёбы осваивают один или несколько иностранных языков. Такой подход позволяет выпускникам претендовать на престижные места работы в России и за рубежом.

        Вуз обладает современной инфраструктурой. Учебные корпуса оснащены мультимедийными аудиториями, лабораториями с новейшим оборудованием, помещения Каспийской высшей школы перевода оборудованы на уровне кабин переводчиков Евросоюза, а в лабораториях физико-математического института есть база для создания роботов «с нуля». В университете имеются уникальный бассейн, спортивные залы, комфортабельный студенческий гостиничный комплекс, профилакторий и многое другое. Также созданы условия для обучения студентов с различными возможностями здоровья.</p>
    <!--Картинка справа-->
          <!-- <img class="right" src="./img/agu.jpg"> -->
          <br>
         <!--  <img src="https://i.ibb.co/4VLpVzR/agu.jpg" class="img-fluid" > -->
    
        </div>
    <!--Запрет наплывания-->
      <div class="clear"></div>
    <!--Подвал-->
        <div id="footer">
          <p class="fon"><strong>Телефон:<br> 8 (8512) 24-64-00 </strong> </p>
          <p class="fax"><strong>Факс:<br> 24-68-00</strong></p>
          <p class="mail"><strong>E-mail<br>asu@asu.edu.ru</strong></p>
    
        </div>
      </div>
{% endblock %}