{% extends 'base.html' %}
{% block content %}

<div class="container">

<h1>Стипендии и меры поддержки обучающихся</h1>

<h3>Виды стипендий:</h3>
<li>государственная академическая стипендия студентам;</li>
<li>государственная социальная стипендия студентам;</li>
<li>государственная стипендии аспирантам;</li>
<li>стипендии Президента Российской Федерации и стипендии Правительства Российской Федерации;</li>
<li>стипендии Президента Российской Федерации для студентов и аспирантов, обучающихся по направлениям подготовки (специальностям), соответствующим приоритетным направлениям модернизации и технологического развития российской экономики.</li>

<p>Подробно с информацией о стипендии Президента РФ, стипендии Правительства РФ, в том числе по приоритетным направлениям, именным стипендиям и стипендии Президента РФ для обучения за рубежом можно познакомиться на сайте <a href="https://xn--80ahclcba9ameqejaeh.xn--p1ai/">стипендиатроссии.рф</a>.</p>

Всю подробную информацию вы можете найти на официальном сайте АГУ: <a href="https://asu.edu.ru/sveden/grants/">посмотреть</a>

<br>
<hr>
<p>Так же вы можете посмотреть подробную информацию о:</p>
<li>
    <a  href="https://asu.edu.ru/issledovaniya-i-innovacii/2536-konkursy-granty-programmy.html">Грантах</a>
</li>
<li>
    <a  href="https://asu.edu.ru/universitet/1038-instituty-fakultety-kafedry.html">Факультетах и институтах</a>
</li>

<hr>
<li>
    <a  href="https://asu.edu.ru/">Официальный сайт АГУ</a>
</li>

</div>

{% endblock %}
